# Environment variables
.env

# Virtual Environment
.venv/
venv/

# Uploaded files
uploads/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System files
# Windows
Thumbs.db
# macOS
.DS_Store

# Log files
*.log

# Test and coverage reports
.coverage
htmlcov/
*.sqlite3